@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');
.avi{
    font-size: 1.3rem;
    color: #000;
    margin-top: 1rem;
}
.front{
    background-image: url("./../lol.bmp");
    height: 28rem;
}
.frontAs{
    line-height: 70px;
    color: #fff;
    font-family: 'Baloo Chettan', cursive;
    font-size: 40px;
    font-weight: 300;
}
.secondS{
    margin: 50px;
    font-weight: 300;
    color: #066e88;
}
.four{
    margin: 50px;
    color: #066e88;
}
.five{
    background-color: #00B33E;
    color: #fff;

}
.five a{
    color: #fff;
}